.gj-button-default{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    background: #ff2222;
    border: #f27070 .5px solid;
    cursor: pointer;
}
.gj-button-default:hover{
    background: #f27070;
    border: #ff2222 .5px solid;
}