.gj-editorbanner-box{
    position: relative;
    display: inline-block;
    height: 700px;
    width: 500px;
    background: #999;
}

.gj-editorbanner-default{
    position: relative;
    display: block;
    margin: 10px auto;
    height: 667px;
    width: 375px;
    background: #fff;
}
.gj-editorbanner-compnum{
    position: absolute;
    bottom: 0;
    left: 420px;
    opacity: .7;
}